@media screen and (max-width: 1300px){
    .navigation {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .menu{
        display: none;
    }
}

@media screen and (max-width: 1180px) {
 
    .profile-display{
        height: 760px;
        width: 250px;
        margin-left: 8vw;
        top: 5px;
    }

    .profile-display-picture{
        width: 250px;
    }

    .name{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .se-btn{
        width: 110px;
        height: 34px;
    }

    .SE {
        font-size: 9px;
    }
    .profile{
        width: 250px;
        height: 680px;
    }

    .social-box{
        width: 30px;
        height: 30px;
    }

    .social-box > a{
        width: 15px;
        height: 15px;
    }

    .social-image{
        width: 15px;
        height: 15px;
    }

    .contact-details{
        width: 200px;
        height: 350px;
    }

    .info-detail > p{
        font-size: 8px;
    }

    .info-detail > h6{
        font-size: 10px;
    }

    .email{
        font-size: 8px !important;
    }

    .icon-box{
        width: 35px;
        height: 45px;
    }

    .icon-box > img{
        width: 20px;
        height: 20px;
    }

    .about-contact > input{
        width: 110px;
        height: 35px;
    }

    .about{
        height: 760px;
        width: 750px;
    }

    #iDo {
        width: 750px;
    }

    .works {
        height: 680px;
        width: 750px;
        /* background-color: rgba(240, 248, 255, 0.699); */
        background: linear-gradient(rgba(255, 255, 255, 0.904), rgba(255, 255, 255, 0.699));
        border-radius: 15px;
        margin-top: 50px;
        position: sticky;
    }

    .about > div{
        padding-left: 60px;
        padding-right: 60px;
    }

    .about > div > div > h2{
        font-size: 35px;
        margin-bottom: 10px;
    }

    .about > div > p {
        font-weight: normal;
        font-size: 16px;
    }

    .about >div > h3{
        font-size: 25px;
        font-weight: 600;
    }

    .what-do {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .do-box {
        width: 300px;
    }

    .what-do > div > div > p{
        font-size: 10px;
    }

    .works > div > div > div > img{
        border-radius: 10px;
    }

    .first-works{
        margin-left: 30px;
        width: 300px;
        height: 250px;
    }

    .pizza{
        width: 300px;
        height: 150px;
    }

    .music {
        width: 300px;
        height: 140px;
    }

    .furnitureUi{
        width: 300px;
        height: 187px;
    }

    .resume {
        height: 820px;
        width: 750px;
    }

    .resume > div {
        padding-left: 60px;
        padding-right: 60px;
    }

    .resume > div > div > h2 {
        font-size: 35px;
    }

    .education{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        
    }

    .edu-box{
        width: 300px;
        height: 130px;
        border-radius: 8px;
    }

    .edu-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .edu-desc{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .contact {
        height: 680px;
        width: 750px;
    }

    .form{
        width: 650px;
    }

}


@media screen and (max-width: 1040px) {

    #content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-box{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0vw !important;
        justify-content: center;
    }

    .profile-display {
        height: 760px;
        width: 750px;
        margin-left: 0 !important;
        position: relative !important;
    }

    .profile-display-picture {
        width: 750px;
        display: flex;
        justify-content: center;
    }

    .name {
        color: #0D7377;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .se-btn {
        background-color: #0d747721;
        width: 150px;
        height: 36px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .SE {
        font-size: 13px;
        font-weight:500;
    }

    .profile {
        width: 750px;
        height: 680px;
    }

    .social-box {
        background-color: #0d747721;
        width: 40px;
        height: 40px;
    }

    .social-box>a {
        width: 25px;
        height: 25px;
    }

    .social-image {
        width: 23px;
        height: 23px;
    }

    .contact-details {
        width: 200px;
    }

    .info-detail>p {
        font-size: 13px;
    }

    .info-detail>h6 {
        font-size: 16px;
        font-weight: 500;
    }

    .email {
        font-size:16px !important;
    }

    .cvBtn{
        border: none;
        width: 150px;
        height: 45px;
        margin-top: 40px;
        color: white;
        background-color: #0D7377;
        border-radius: 10px;
        font-weight: bold;
    }

    .icon-box {
        width: 50px;
        height: 50px;
    }

    .icon-box>img {
        width: 30px;
        height: 30px;
    }

    .contact-details{
        width: 600px;
        margin-top: 50px;
    }

    .about-contact>input {
        width: 110px;
        height: 35px;
    }

    .about {
        width: 750px;
    }

    #iDo {
        width: 750px;
    }

    .works {
        height: 680px;
        width: 750px;
    }

    .what-do {
        gap: 20px;
    }

    .do-box {
        width: 300px;
    }

    .what-do>div>div>p {
        font-size: 10px;
    }

    .first-works {
        width: 300px;
    }

    .pizza {
        width: 300px;
        height: 150px;
    }

    .music {
        width: 300px;
        height: 140px;
    }

    .furnitureUi {
        width: 300px;
        height: 187px;
    }

    .resume {
        width: 750px;
    }

    .edu-box {
        width: 300px;
        height: 200px;
        border-radius: 8px;
    }

    .edu-desc > h4{
        font-size: 14px;
    }

    .box4>div>div>img {
        width: 25px;
        height: 15px;
        margin-top: 5px;
    }

    .tech-flex {
        gap: 50px;
    }

    .contact {
        width: 750px;
    }

    .profile-display{
        display: none;
    }

    #profile-sec{
        display: block;
    }

}